@import url("https://db.onlinewebfonts.com/c/996fd53e88dc843489d49583a0354b50?family=GothamRndSSm-Medium");

:root {
    --index: calc(1vw + 1vh);
    --primary-color: #032539;
    --secondary-color: #FBF3F2;
    --button-color: #1C768F;
    --hover-color: #FA991C;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: "Open Sans", sans-serif;
    overscroll-behavior: none;
    font-weight: 300;
    overflow-x: hidden;

}

.footer {
    background-color: var(--primary-color);
}

.row {
    color: var(--secondary-color);
}

.footer p {
    color: var(--secondary-color);
}

.footer .row .icon .icon-bi {
    margin: .2rem;
    color: var(--button-color);
}

.footer .row .icon a:hover {
    color: var(--secondary-color);
}

.footer .row button {
    background-color: var(--button-color);
    color: var(--secondary-color);
}

.footer .row button:hover {
    background-color: var(--hover-color);
    color: var(--button-color);
}