<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEYONDJateng | Kebudayaan</title>

    <!-- Bootstrap & Style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="../parts/header.css">
    <link rel="stylesheet" href="../parts/footer.css">
    <link rel="stylesheet" href="./culture.css">

    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <!-- Navbar -->
    <header class="header-nav position-fixed z-3 w-100" id="header" data-aos="fade-down">
        <!-- <div class="container" >

            </div> -->
    </header>

    <!-- Body -->

    <section class="cover vh-100" data-aos="fade-up">
        <div id="myCarousel" class="carousel slide d-flex justify-content-center align-items-center"
            data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../assets/img/culture/borobudur.jpg" class="d-block w-100 object-fit-cover" alt="...">
                    <div class="carousel-caption">
                        <h1>Kebudayaan di Borobudur</h1>
                        <p>Selamat datang di Candi Borobudur, keajaiban bersejarah Indonesia. Temukan keindahan dan
                            sejarahnya yang megah sebagai warisan budaya dunia</p>
                        <a class="btn btn-md btn-custom" href="#" onclick="navigateToDetailCulture()">Baca Lebih
                            Lanjut..</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/culture/rumah-joglo.jpg" class="d-block w-100 object-fit-cover"
                        alt="...">
                    <div class="carousel-caption">
                        <h1>Rumah Joglo Tradisional</h1>
                        <p>Selamat datang di Rumah Joglo Tradisional, representasi kekayaan arsitektur tradisional Jawa.
                            Temukan keindahan dan makna dalam setiap detailnya. Klik untuk informasi lebih lanjut</p>
                        <a class="btn btn-md btn-custom" href="#" onclick="navigateToDetailCulture()">Baca Lebih
                            Lanjut..</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../assets/img/culture/grebeg sudiro event.jpg" class="d-block w-100 object-fit-cover"
                        alt="...">
                    <div class="carousel-caption">
                        <h1>Upacara Grebeg Sudiro</h1>
                        <p>Rasakan kegembiraan dan tradisi Jawa dengan menghadiri upacara Grebeg Sudiro yang meriah,
                            sebuah perayaan budaya yang menggabungkan kesenian, kuliner, dan kearifan lokal.</p>
                        <a class="btn btn-md btn-custom" href="#" onclick="navigateToDetailCulture()">Baca Lebih
                            Lanjut..</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="container-card" data-aos="zoom-in-up" data-aos-offset="200" data-aos-duration="1000">
        <div class="card-culture my-5">
            <div class="container title-culture">
                <h1>Kebudayaan di Jawa Tengah</h1>
            </div>
            <div class="container mt-3" id="featured-posts">

            </div>
        </div>

        <!-- Pagination buttons -->
        <div class="pagination-buttons">
            <ul class="pagination justify-content-center" id="paginationList" aria-label="Page navigation">
            </ul>
        </div>
    </section>


    <!-- Footer -->
    <div class="container-footer mt-5" data-aos="fade-up" data-aos-duration="500">
        <div class="container">
            <div class="footer" id="footer">

            </div>
        </div>
    </div>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <!-- Bootstrap & Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="../../assets/js/main.js"></script>
    <script>
        // Data contoh
        var posts = [
            {
                image: "../../assets/img/culture/sarong-clothes.jpg",
                title: "Pakaian Adat Tradisional",
                date: "5 Juli 2022",
                creator: "Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi",
                content: "Kebudayaan Jawa Tengah tak bisa lepas dari pakaian adat tradisionalnya. Terdapat berbagai macam pakaian adat, di antaranya jawi jangkep, kebaya. kanigaran, batik, pangsi, surjan, beskap, dan basahan. Pakaian adat Surakarta yang menjadi simbol atau identitas pakaian adat di Provinsi Jawa Tengah. Pakaian adat Jawa Tengah dikelompokkan menjadi dua, yaitu pakaian untuk bangsawan (kerabat keraton) dan pakaian untuk rakyat biasa."
            },
            {
                image: "../../assets/img/culture/gatotkaca-dance.jpg",
                title: "Seni Tari Tradisional",
                date: "13 Juli 2022",
                creator: "Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi",
                content: "Tari tradisional biasanya merupakan citra dari suatu daerah tertentu yang berkembang sejak dahulu dan tetap dilestarikan sampai sekarang lewat sanggar budaya walau banyak anak muda sekarang lebih memilih tarian modern. Seni tari merupakan ekspresi jiwa manusia melalui gerak ritmis dan estetis. Selain seni, seni tari juga merupakan bagian dari budaya dalam perkembangannya."
            },
            {
                image: "../../assets/img/culture/rumah-adat-joglo-1.png",
                title: "Rumah Adat Jawa Tengah",
                date: "17 Agustus 2023",
                creator: "Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi",
                content: "Jawa Tengah merupakan salah satu provinsi penting di Pulau Jawa. Selain karena hiruk-pikuk ekonominya, Provinsi ini juga tersohor karena unsur kebudayaannya yang masih terjaga. Salah satu warisan leluhur yang menjadi daya pikat provinsi ini adalah Joglo. Apa Joglo itu? Hakekatnya Joglo adalah sebutan bagi rumah adat Jawa Tengah. Bangunan ini menarik dikaji, baik itu dari segi historis maupun arsitekturnya yang sarat dengan nilai filosofis khas Jawa."
            },
            {
                image: "../../assets/img/culture/gambang-music.jpg",
                title: "Seni Musik Tradisional",
                date: "15 September 2023",
                creator: "Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi",
                content: "Jawa Tengah sendiri mempunyai sejumlah alat musik tradisional yang termasuk dalam gamelan. Setiap bagiannya memiliki karakteristik dan keunikannya masing-masing. Alat musik tradisional biasanya digunakan untuk acara tertentu. Misalnya prosesi upacara adat, pentas seni budaya, dan lainnya. Selain itu, alat musik tradisional juga kerap dijadikan sebagai media pembelajaran."
            },
            {
                image: "../../assets/img/culture/grebeg sudiro event.jpg",
                title: "Upacara Adat",
                date: "29 Februari 2024",
                creator: "Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi",
                content: "Kebudayaan ini memiliki berbagai ragam, mulai dari yang mempunyai keterkaitan dengan kebiasaan, adat istiadat, hingga yang memiliki hibungan dengan ritual keagamaan. Tradisi akan terus berjalan apabila tetap dilestarikan dan dihormati keberadaannya. Walau demikian, apabila tradisi tersebut tidak dilakukan lagi, maka tradisi tersebut dapat punah atau menghilang dengan sendirinya."
            }
        ];

        var postsPerPage = 3;
        var currentPage = 0;

        // Fungsi untuk membuat elemen HTML untuk setiap post
        function createPostElement(post) {
            // Batasi jumlah karakter untuk konten post
            var maxContentLength = 150;
            var shortenedContent = post.content.length > maxContentLength ? post.content.substring(0, maxContentLength) + '...' : post.content;

            var postHtml = `
                <div class="row mb-2">
                    <div class="col-lg-11 m-auto">
                        <div class="row card-custom g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative" data-aos="zoom-in-up" data-aos-offset="200" data-aos-duration="700">
                            <div class="col-lg-auto text-center">
                                <img src="${post.image}" class="bd-placeholder-img post-image rounded" alt="${post.title}">
                            </div>
                            <div class="caption-card col p-4 d-flex flex-column position-static">
                                <h2 class="mb-0">${post.title}</h2>
                                <h6 class="mb-1 text-body-secondary">${post.date}</h6>
                                <h6 class="mb-1 text-body-secondary">${post.creator}</h6>
                                <!-- Tampilkan konten yang sudah disingkat -->
                                <p class="card-text">${shortenedContent}</p>
                                <!-- Tambahkan tautan ke halaman detail -->
                                <button href="../detailCulture/detailCulture.html" class="btn btn-custom icon-link gap-1 icon-link-hover stretched-link mt-3" onclick="navigateToDetailCulture()">
                                    Baca Lebih Lanjut...
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                `;
            return postHtml;
        }


        // Fungsi untuk menampilkan post pada halaman tertentu
        function showPosts(pageNumber) {
            var start = pageNumber * postsPerPage;
            var end = start + postsPerPage;
            var displayedPosts = posts.slice(start, end);

            var featuredPostsElement = document.getElementById('featured-posts');
            featuredPostsElement.innerHTML = '';
            displayedPosts.forEach(function (post) {
                featuredPostsElement.innerHTML += createPostElement(post);
            });

            // Update pagination
            var totalPosts = posts.length;
            var totalPages = Math.ceil(totalPosts / postsPerPage);
            var paginationList = document.getElementById('paginationList');
            paginationList.innerHTML = '';
            // Tombol "Previous"
            var liPrev = document.createElement('li');
            liPrev.classList.add('page-item');
            if (pageNumber === 0) {
                liPrev.classList.add('disabled');
            }
            var aPrev = document.createElement('a');
            aPrev.classList.add('page-link');
            aPrev.innerText = 'Previous';
            aPrev.setAttribute('onclick', 'previousPage()');
            liPrev.appendChild(aPrev);
            paginationList.appendChild(liPrev);
            // Nomor halaman
            for (var i = 0; i < totalPages; i++) {
                var pageNumber = i + 1;
                var li = document.createElement('li');
                li.classList.add('page-item');
                if (i === currentPage) {
                    li.classList.add('active');
                }
                var a = document.createElement('a');
                a.classList.add('page-link');
                a.innerText = pageNumber;
                a.setAttribute('onclick', `goToPage(${i})`);
                li.appendChild(a);
                paginationList.appendChild(li);
            }
            // Tombol "Next"
            var liNext = document.createElement('li');
            liNext.classList.add('page-item');
            if (pageNumber === totalPages - 1) {
                liNext.classList.add('disabled');
            }
            var aNext = document.createElement('a');
            aNext.classList.add('page-link');
            aNext.innerText = 'Next';
            aNext.setAttribute('onclick', 'nextPage()');
            liNext.appendChild(aNext);
            paginationList.appendChild(liNext);
        }

        // Menampilkan halaman pertama ketika halaman dimuat
        window.onload = function () {
            showPosts(currentPage);
        };

        // Fungsi untuk pergi ke halaman tertentu
        function goToPage(pageNumber) {
            currentPage = pageNumber;
            showPosts(currentPage);
        }

        // Fungsi untuk menampilkan halaman berikutnya
        function nextPage() {
            currentPage++;
            var totalPosts = posts.length;
            var totalPages = Math.ceil(totalPosts / postsPerPage);
            if (currentPage >= totalPages) {
                currentPage = totalPages - 1;
            }
            showPosts(currentPage);
        }

        // Fungsi untuk menampilkan halaman sebelumnya
        function previousPage() {
            currentPage--;
            if (currentPage < 0) {
                currentPage = 0;
            }
            showPosts(currentPage);
        }
    </script>
</body>

</html>