@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

:root {
    --index: calc(1vw + 1vh);
    --primary-color: #032539;
    --secondary-color: #FBF3F2;
    --button-color: #1C768F;
    --hover-color: #FA991C;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: "Open Sans", sans-serif;
    overscroll-behavior: none;
    font-weight: 300;
    overflow-x: hidden;
}

section {
    margin-bottom: 1rem;
    /* height: 50vh; */
}

.cover {
    /* height: 50vh; */
}

/* .cover .container .carousel {
    height: 100vh;
} */

/* /* .cover .container .carousel .carousel-inner {
    height: 50vh;
    border-radius: 10px;
} */

/* .cover .container .carousel .carousel-inner .carousel-item img {
    width: 100vw;
    height: 80vh;
    margin: auto;
    object-fit: cover;
    object-position: center;
} */

/* .cover .container .carousel .carousel-inner .carousel-item .container .carousel-caption {
        position: absolute;
        top: 50vh;
        transform: translateY(-50%);
}
 */ 


/* CSS untuk pagination */
.pagination-buttons {
    margin-top: 20px;
}
.page-link {
    cursor: pointer;
}
.page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}
.page-item.active .page-link:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.page-link:hover {
    background-color: #f0f0f0;
}

