<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BEYONDJateng | Culture</title>

    <!-- Bootstrap & Style -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link
        href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
        rel="stylesheet"
    />
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="stylesheet" href="./detailCulture.css">
    <link rel="stylesheet" href="../parts/header.css">
    <link rel="stylesheet" href="../parts/footer.css">

    
    <style>
        /* CSS untuk gambar */
        .image-cover {
            max-width: 90%;
            height: auto;
        }
    </style>


    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
    <body>
        <!-- Navbar -->
        <div class="header-nav" id="header" data-aos="fade-down"></div>

        <section class="single-post-content">
            <div class="container">
                <div class="row my-2">
                    <div class="col-md-9 post-content" data-aos="fade-up">
        
                        <!-- ======= Single Post Content ======= -->
                        <div class="single-post">
                            <div class="post-meta"><span class="date">Kebudayaan</span> <span class="">&bullet;</span> <span>5 Juli 2022</span></div>
                            <h1 class="mb-2">9 Jenis Alat Musik Tradisional</h1>
                            <p><span class="firstcharacter">J</span>awa Tengah sendiri mempunyai sejumlah alat musik tradisional yang termasuk dalam gamelan. Setiap bagiannya memiliki karakteristik dan keunikannya masing-masing. Alat musik tradisional biasanya digunakan untuk acara tertentu. Misalnya prosesi upacara adat, pentas seni budaya, dan lainnya. Selain itu, alat musik tradisional juga kerap dijadikan sebagai media pembelajaran.
                            </p>
                            <figure class="my-4 text-center">
                            <img src="../../assets/img/detailCulture/cover.jpg" alt="" class="image-cover rounded">
                            <figcaption>Alat-alat Musik Tradisional</figcaption>
                            </figure>
                            <p>Mengutip modul berjudul Album Alat Musik Tradisional oleh Kemdikbud, dari segi visual, bentuk alat musik tradisional Indonesia mendapat pengaruh budaya, baik dari musik barat maupun dari daerah Asia lainnya. Kenali beberapa nama alat musik tradisional dari Jawa Tengah berikut ini yang dilansir dari berbagai sumber.
                            </p>

                            <h4>1. Gambang</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/culture/gambang-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 1. Gambang</figcaption>
                                </figure>
                            <p>Melansir laman resmi Kemdikbud, alat musik tradisional Jawa Tengah yang pertama adalah gambang. Cara memainkan gambang adalah dengan cara dipukul. Gambang biasanya terdiri dari 18 bilah bambu dan alat pemukul khusus. Fungsi dari gambang dalam mengiringi lagu adalah sebagai pangrengga atau pelengkap lagu.</p>
                            </p>

                            <h4>2. Bonang</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/bonang-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 2. Bonang</figcaption>
                                </figure>
                            <p>Bonang merupakan alat musik yang biasanya ditemukan dalam seperangkat gamelan. Alat musik ini terbuat dari logam seperti besi, perunggu, atau kuningan. Bentuk dari bonang adalah menonjol pada bagian atas yang biasa disebut pencu atau pencon. Adapun cara memainkannya adalah dengan cara ditabuh atau dipukul bagian atasnya dengan alat pemukul khusus yang disebut bindhi.</p>

                            <h4>3. Gender</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/gender-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 3. Gender</figcaption>
                                </figure>
                            <p>Gender merupakan alat musik berupa bilah besi yang ditegakkan dengan tali di atas bumbung-bumbung resonator. Seperti halnya bonang, cara memainkan gender adalah dengan menggunakan alat tabuh berbentuk bulat yang dilingkari lapisan kain dengan gagang pendek.</p>

                            <h4>4. Gong</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/gong-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 4. Gong</figcaption>
                                </figure>
                            <p>Di dalam gamelan terdapat gong yang bertindak agar terciptanya alat musik yang berirama. Alat musik yang satu ini terbuat dari tembaga dan timah. Cara memainkannya adalah dengan cara dipukul menggunakan alat pemukul khusus.</p>

                            <h4>5. Kendang</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/kendang-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 5. Kendang</figcaption>
                                </figure>
                            <p>Kendang atau disebut juga gendang merupakan instrumen tradisional dalam gamelan. Cara memainkannya adalah dengan ditepuk menggunakan telapak tangan. Alat musik ini berfungsi untuk mengatur irama atau tempo lagu. Instrumen ini terbuat dari kulit kerbau, tali rotan kayu nangka, kayu pohon cempedak atau kayu pohon kelapa.</p>

                            <h4>6. Kenong</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/kenong-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 6. Kenong</figcaption>
                                </figure>
                            <p>Kenong merupakan satu set instrumen jenis gong yang ditempatkan berposisi horizontal, yakni diletakkan pada tali yang ditegangkan pada bingkai kayu. Alat musik ini memiliki posisi penting karena memberikan batasan struktur suatu lagu.</p>                    

                            <h4>7. Saron</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/saron-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 7. Saron</figcaption>
                                </figure>
                            <p>Alat musik tradisional Jawa Tengah berikutnya adalah saron yang terdiri dari 6-7 bilah pada bingkai kayu. Saron juga berfungsi sebagai resonator. Saron termasuk dalam alat musik pukul dengan pemukul yang terbuat dari kayu.</p>

                            <h4>8. Siter</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/siter-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 8. Siter</figcaption>
                                </figure>
                            <p>Siter merupakan seperangkat alat musik yang termasuk dalam gamelan. Dikutip dari laman resmi Sekolah Tinggi Teknologi Bandung, umumnya siter memiliki panjang sekitar 30 cm dan diisi dalam sebuah kotak ketika dimainkan. Cara menggunakannya adalah dengan memainkan senar siter dengan ibu jari, sedangkan jari lainnya digunakan untuk menahan getaran saat senar lain dipetik. Jari kedua tangan digunakan untuk menahan, dengan jari tangan kanan berada di bawah senar, sedangkan jari tangan kiri berada di atas senar.</p>

                            <h4>9. Slenthem</h4>
                            <figure class="my-4 text-center">
                                <img src="../../assets/img/detailCulture/slenthem-music.jpg" alt="" class="image-cover rounded">
                                <figcaption>Gambar 9. Slenthem</figcaption>
                                </figure>
                            <p>Slenthem merupakan salah satu instrumen dari gamelan yang terbagi dalam lembaran logam tidak tebal yang diuntai memakai tali dan direntangkan di atas tabung. Untuk memainkannya yakni dengan dipukul. Alat musik ini akan menghasilkan suara dengungan rendah yang mengikuti suara saron dan lainnya.</p>
                            
                            <p>Itulah beberapa Alat Musik Tradisional di Jawa Tengah. Ikuti konten-konten menarik kami lainnya.</p>
                        </div><!-- End Single Post Content -->
            
                        <!-- ======= Comments ======= -->
                        <div class="comments" data-aos="fade-up" data-aos-duration="700">
                            <h5 class="comment-title py-4">2 Komentar</h5>
                            <div class="comment d-flex mb-4">
                                <div class="flex-shrink-0">
                                    <div class="avatar avatar-sm rounded-circle">
                                    <img class="avatar-img" src="../../assets/img/testimonials-3.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="flex-grow-1 ms-2 ms-sm-3">
                                    <div class="comment-meta d-flex align-items-baseline">
                                    <h6 class="me-2">Jordan Singer</h6>
                                    <span class="text-muted">2 Hari</span>
                                    </div>
                                    <div class="comment-body">
                                        Budaya Jawa Tengah memang menarik. Saya sangat tertarik dengan kekayaan budaya dan sejarahnya.
                                    </div>
                
                                    <div class="comment-replies bg-light p-3 mt-3 rounded">
                                    <h6 class="comment-replies-title mb-4 text-muted text-uppercase">2 Balasan</h6>
                
                                    <div class="reply d-flex mb-4">
                                        <div class="flex-shrink-0">
                                        <div class="avatar avatar-sm rounded-circle">
                                            <img class="avatar-img" src="../../assets/img/testimonials-2.jpg" alt="" class="img-fluid">
                                        </div>
                                        </div>
                                        <div class="flex-grow-1 ms-2 ms-sm-3">
                                        <div class="reply-meta d-flex align-items-baseline">
                                            <h6 class="mb-0 me-2">Brandon Smith</h6>
                                            <span class="text-muted">2 Hari</span>
                                        </div>
                                        <div class="reply-body">
                                            Iya, benar sekali. Budaya Jawa Tengah sungguh menakjubkan dan kaya akan tradisi yang unik.
                                        </div>
                                        </div>
                                    </div>
                                    <div class="reply d-flex">
                                        <div class="flex-shrink-0">
                                        <div class="avatar avatar-sm rounded-circle">
                                            <img class="avatar-img" src="../../assets/img/testimonials-1.jpg" alt="" class="img-fluid">
                                        </div>
                                        </div>
                                        <div class="flex-grow-1 ms-2 ms-sm-3">
                                        <div class="reply-meta d-flex align-items-baseline">
                                            <h6 class="mb-0 me-2">James Parsons</h6>
                                            <span class="text-muted">1 Hari</span>
                                        </div>
                                        <div class="reply-body">
                                            Saya setuju. Budaya Jawa Tengah sungguh memikat hati dengan keindahan dan kearifan lokalnya.
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment d-flex">
                                <div class="flex-shrink-0">
                                    <div class="avatar avatar-sm rounded-circle">
                                    <img class="avatar-img" src="../../assets/img/testimonials-3.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                                <div class="flex-shrink-1 ms-2 ms-sm-3">
                                    <div class="comment-meta d-flex">
                                    <h6 class="me-2">Santiago Roberts</h6>
                                    <span class="text-muted">4 Hari</span>
                                    </div>
                                    <div class="comment-body">
                                        Sudah lama ingin mengunjungi Jawa Tengah dan merasakan langsung keindahan budayanya.
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Comments -->
            
                        <!-- ======= Comments Form ======= -->
                        <div class="row justify-content-center my-5" data-aos="fade-right" data-aos-offset="150" data-aos-duration="500">
            
                            <div class="col-lg-12">
                            <h5 class="comment-title">Tinggalkan Komentar</h5>
                                <div class="row">
                                    <div class="col-lg-6 mb-3">
                                        <label for="comment-name">Nama</label>
                                        <input type="text" class="form-control" id="comment-name" placeholder="Ketikkan Nama Anda">
                                    </div>
                                    <div class="col-lg-6 mb-3">
                                        <label for="comment-email">Email</label>
                                        <input type="text" class="form-control" id="comment-email" placeholder="Ketikkan Email Anda">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="comment-message">Komentar</label>
                                        <textarea class="form-control" id="comment-message" placeholder="Tinggalkan Komentar" cols="30" rows="10"></textarea>
                                    </div>
                                    <div class="col-12">
                                        <input type="submit" class="btn btn-custom" value="Posting Komentar">
                                    </div>
                                </div>
                            </div>
                        </div><!-- End Comments Form -->
            
                        </div>
                    <div class="col-md-3">
                    <!-- ======= Sidebar ======= -->
                    <div class="aside-block" data-aos="fade-right" data-aos-duration="1000">
        
                        <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Destinasi</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Kuliner</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Terbaru</button>
                            </li>
                        </ul>
        
                        <div class="tab-content" id="pills-tabContent">
        
                        <!-- Destinasi -->
                        <div class="tab-pane fade show active" data-aos="fade-right" data-aos-duration="1000" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Destinasi</span></div>
                                <h2 class="mb-2"><a href="#">Candi Borobudur</a></h2>
                                <div class="trending__ratings">
                                    <div>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-half-fill"></i></span>
                                        <span><i class="ri-star-line"></i></span>
                                    </div>
                                </div>
                                <span class="author mb-3 d-block">Magelang, Jawa Tengah</span>
                            </div>

                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Destinasi</span></div>
                                <h2 class="mb-2"><a href="#">Dataran Tinggi Dieng</a></h2>
                                <div class="trending__ratings">
                                    <div>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-half-fill"></i></span>
                                        <span><i class="ri-star-line"></i></span>
                                    </div>
                                </div>
                                <span class="author mb-3 d-block">Banjarnegara, Jawa Tengah</span>
                            </div>

                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Destinasi</span></div>
                                <h2 class="mb-2"><a href="#">Klenteng Sam Poo Kong</a></h2>
                                <div class="trending__ratings">
                                    <div>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-fill"></i></span>
                                        <span><i class="ri-star-half-fill"></i></span>
                                        <span><i class="ri-star-line"></i></span>
                                    </div>
                                </div>
                                <span class="author mb-3 d-block">Semarang, Jawa Tengah</span>
                            </div>
        
                        </div> <!-- End Destinasi -->
        
                        <!-- Foods -->
                        <div class="tab-pane fade" data-aos="fade-right" data-aos-duration="1000" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Kuliner</span></div>
                                <h2 class="mb-2"><a href="#">Lumpia Semarang</a></h2>
                                <div class="trending__ratings">
                                </div>
                                <span class="author mb-3 d-block">Semarang, Jawa Tengah</span>
                            </div>
        
                        </div> <!-- End Foods -->
        
                        <!-- Latest -->
                        <div class="tab-pane fade" data-aos="fade-right" data-aos-duration="1000" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Kebudayaan</span> <span class="mx-1">&bullet;</span> <span>29 Februari 2024</span></div>
                                <h2 class="mb-2"><a href="#">Upacara Adat</a></h2>
                                <span class="post-meta author mb-3 d-block">Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi</span>
                            </div>

                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Kebudayaan</span> <span class="mx-1">&bullet;</span> <span>13 September 2023</span></div>
                                <h2 class="mb-2"><a href="#">Seni Musik Tradisional</a></h2>
                                <span class="post-meta author mb-3 d-block">Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi</span>
                            </div>

                            <div class="post-entry-1 border-bottom">
                                <div class="post-meta"><span class="date">Kebudayaan</span> <span class="mx-1">&bullet;</span> <span>17 Agustus 2023</span></div>
                                <h2 class="mb-2"><a href="#">Rumah Adat Jawa Tengah</a></h2>
                                <span class="post-meta author mb-3 d-block">Krisda Tiofani, Ni Nyoman Wira Widyanti Tim Redaksi</span>
                            </div>
        
                        </div> <!-- End Latest -->
        
                        </div>
                    </div>

                    <div class="aside-block" data-aos="fade-right" data-aos-duration="800">
                        <h3 class="aside-title">Kategori</h3>
                        <ul class="aside-links list-unstyled">
                        <li><a href="#"><i class="bi bi-chevron-right" onclick="navigateToDestinations()"></i> Destinasi</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right" onclick="navigateToCulture()"></i> Kebudayaan</a></li>
                        <li><a href="#"><i class="bi bi-chevron-right" onclick="navigateToFoods()"></i> Kuliner</a></li>
                    </div><!-- End Categories -->
        
                    <div class="aside-block" data-aos="fade-right" data-aos-duration="1000">
                        <h3 class="aside-title">Tags</h3>
                        <ul class="aside-tags list-unstyled">
                        <li><a href="#" onclick="navigateToDestinations()">Destinasi</a></li>
                        <li><a href="#" onclick="navigateToCulture()">Kebudayaan</a></li>
                        <li><a href="#" onclick="navigateToFoods()">Kuliner</a></li>
                        </ul>
                    </div><!-- End Tags -->
        
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <div class="container-footer" data-aos="fade-up" data-aos-duration="500">
            <div class="container">
                <footer class="footer" id="footer">
        
                </footer>
            </div>
        </div>

        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
            AOS.init();
        </script>

        <!-- Bootstrap & Script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="../../assets/js/main.js"></script>
    </body>
</html>